<div class="col-md-12 col-xs-12 col-sm-12">
    <div id="module9" class="ModuleWrapper">
        <div class="chu-chay">
            <div class="row">
                <div class="time-news col-xs-12 col-sm-4 col-md-3" style="padding-right:0;width: 22%;">
                    <div class="f_left time-home-gio"><%= Date.today.to_wday %>, <%= Date.today %>
                        <span class="space-mar">|</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9" style="padding-left:0;">
                    <marquee direction="left">Chào mừng bạn đến với sổ chấm thi đua điện tử của trường TH & THCS Thái Thọ</marquee>
                </div>
            </div>
        </div>
    </div>
</div>