<div class="col-md-12 col-xs-12 col-sm-12">
    <div id="module6" class="ModuleWrapper">
        <div class="header-default header-default-type3 clearfix">
            <div class="">
                <div class="header-wrapper" style="min-height: 165.273px;">
                    <div class="logo section-logo clearfix">
                        <div class="header-logo">
                            <%= image_tag 'logo.png', class: "logo" %>
                        </div>
                        <div class="header-title edu-info-header">
                            <div class="department">Phòng Giáo dục và Đào tạo Thái Thụy</div>
                            <div class="name">trường TH &amp; THCS Thái Thọ</div>
                            <div class="phone">
                                <span class="school-info">Điện thoại:</span>098 9656727
                            </div>
                            <div class="email">
                                <span class="school-info">Email:</span>thaitho2@thaithuy.edu.vn
                            </div>
                            <div class="address">
                                <span class="school-info">Địa chỉ:</span>Thôn Độc Lập, Thái Thọ, Thái Thụy, Thái Bình
                            </div>
                        </div>
                    </div>
                    <div class="banner" style=""></div>
                    <div class="header-text">
                        <div class="form-inline"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .header-default-type3 {
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    
    .header-default-type3 .header-text {
        margin: 0;
    }
    
    #module6 .logo-text {
        font-size: 8px;
    }
    
    .header-default-type3 .header-wrapper {
        overflow: hidden;
        background-image: url('/banner.jpeg');
        background-size: cover;
    }
    
    .header-default-type3 .container {
        position: relative;
    }
    
    .header-default-type3 .login-home>ul>li>a {
        padding: 0 5px;
    }
    
    .header-default-type3 .dropdown-menu.dropdown-menu-right>li>a {
        padding: 0;
        padding-left: 15px;
        line-height: 25px;
    }
    
    .header-default-type3 .menu-section {
        z-index: 1;
        line-height: 30px;
        position: relative;
    }
    
    .header-default-type3 .logo {
        float: none;
    }
    
    .edu-info-header .header-default-type3 .menu-section .pull-left .flag {
        float: left;
        margin-right: 10px;
    }
    
    .header-default-type3 div.logo {
        padding: 18px 10px;
    }
    
    .header-default-type3 .search-header {
        position: absolute;
        right: 10px;
        top: 50%;
    }
    
    .header-default-type3 img.logo {
        max-height: 110px;
        padding-right: 10px;
    }
    
    .header-default-type3 .banner {}
    
    .header-default-type3 .section-logo .header-logo {
        display: inline-block;
        float: left;
    }
    
    @media(min-width: 768px) {
        .header-default-type3 .section-logo .header-title {
            display: inline-block;
        }
    }
    
    .header-default-type3 .dropdown-toggle {
        margin: 0 5px;
    }
    
    .header-default-type3 .banner img,
    .header-default-type3 .banner embed {
        width: calc(100% - 150px);
        float: right;
    }
    
    .open>.dropdown-menu {
        display: block !important;
    }
</style>